#page-content-wrapper{
    background-color: white;
}
#wrapper{
    background-color: #f5f5f5;
}
#wrapper .logo{
    display: inline-block;
    background: url(/asset/logocustom.png) center no-repeat;
    background-size: 500px 100px;
    width: 500px;
    height: 100px;

}
.container .box{
    border: 1px black solid;
    height: 405px;
}
.container .row h1{
    margin-top: 60px;
    margin-bottom: 60px;
}
.box.large img{
    width: 100%;
    max-height: 405px;

}